{{ define "content" }}

<p>
    The list of the inventory of {{ .Name }}
</p>


    <table>
        <tr>
            <th>Name</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        {{ range .Items }}
        <form method="POST" action="/addItem">
            <tr>
                <td><a href="detail?cid={{$.ID}}&id={{.ID}}">{{ .Name }}</a></td>
                <td>${{ .Price }}</td>
                <td><input type="text" maxlength="2" size="2" name="{{ .ID }}"></td>
                <td><input type="submit" value="Add"></td>
                <input type="hidden" name="id" value="{{ .ID }}">
                <input type="hidden" name="price" value="{{ .Price }}">
            </tr>
        </form>
        {{ end }}
    </table>



{{ end }}