{{ define "nav" }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="inventory?cid=1">Fruits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="inventory?cid=2">Vegetables</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="inventory?cid=3">Grains</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="cart">Cart</a>
        </li>
    </ul>
</nav>

{{ end }}